<app-header></app-header>
<h2>Поставщики: </h2>
<table>
  <thead>
  <th>Филиал</th>
  <th>Название</th>
  <th>Оборот за весь период</th>
  <th>Рейтинг</th>
  </thead>
  <tbody>
  <tr>
    <td>Казань</td>      <td><a href="#">Пиццерия "Оливочка"</a></td>      <td>550 000</td>      <td>4,2</td>
  </tr>
  <tr>
    <td>Казань</td>      <td><a href="#">Кафе "Пчелка"</a></td>      <td>1 645 430</td>      <td>3,99</td>
  </tr>
  <tr>
    <td>Краснодар</td>      <td><a href="#">Ресторан "Лобстер"</a></td>      <td>763 545</td>      <td>4,96</td>
  </tr>
  <tr>
    <td>Ставрополь</td>      <td><a href="#">Кафе "Круассан"</a></td>      <td>255 070</td>      <td>4</td>
  </tr>
  <tr>
    <td>Самара</td>      <td><a href="#">Ресторан быстрого питания "FASSSSSST"</a></td>      <td>4 655 456</td>      <td>4,5</td>
  </tr>
  </tbody>
</table>
