<app-header></app-header>

<form>
  <h2>Форма оформления поставщика</h2>
  <input type="text" placeholder="Город">
  <input type="text" placeholder="филиал РЖД">
  <input type="text" placeholder="Название">
  <input type="text" placeholder="Телефон">
  <input type="text" placeholder="Контактное лицо">
  <select>
    <option disabled> Статус: </option>
    <option> Предложение </option>
    <option> Работа </option>
    <option> Отклонен </option>
  </select>
  <input type="text" placeholder="Сайт фискальных данных">
  <button type="submit">Добавить</button>
</form>
